/*===============================================
            Project: CONSTRUCTORA 
===============================================*/

/** GENERALES **/
.slotholder::before {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10,10,10, 0.25);
    z-index: 21;
}
/** UTILITIES **/
.align-justify {
    text-align: justify;
}

/*      BOOTNES */
a:hover {
    color: rgb(0, 148, 214);
    text-decoration: none;
}
.btn.cyan {
    background: rgb(0, 148, 214);
    border-color: rgb(0, 148, 214);
    color: #fff;
}
header .main-nav ul > li:hover > a {
    color: rgb(0, 148, 214);
}
.widget.widget_contact .contact-info li .socials li a:hover{
    color: rgb(0, 148, 214);
}
/** SLIDER **/
.slide-title {
    font-size: 40px !important;
    display: inline-block;
    line-height: 1 !important;
    margin-bottom: 20px !important;
    /*max-width: 900px !important;*/
    -webkit-word-wrap: break-word;
    -moz-word-wrap: break-word;
    -ms-word-wrap: break-word;
    -o-word-wrap: break-word;
    word-wrap: break-word;
}
.slide-content {
    font-size: 16px !important;
    display: inline-block;
    line-height: 1.5 !important;
    /*max-width: 900px !important;*/
    -webkit-word-wrap: break-word;
    -moz-word-wrap: break-word;
    -ms-word-wrap: break-word;
    -o-word-wrap: break-word;
    word-wrap: break-word;
}
.slide-title,
.slide-content {
    position: relative;
    z-index: 22 !important;
    display: inline-block;
}
.tp-caption {
    text-align: center !important;
}
/*.tp-caption {
    -webkit-word-wrap: break-word;
    -moz-word-wrap: break-word;
    -ms-word-wrap: break-word;
    -o-word-wrap: break-word;
    word-wrap: break-word;
    white-space: normal !important;
    min-width: 100% !important;
    max-width: 900px !important;
    padding: 0 15px !important;
}*/

/** FOOTER **/
.contact-info p {
    -webkit-word-wrap: break-word;
    -moz-word-wrap: break-word;
    -ms-word-wrap: break-word;
    -o-word-wrap: break-word;
    word-wrap: break-word;
    white-space: 
}

/* HOME*/
.testimonials {
    background: url(../images/testimonials-section-bg.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0 0 22px 0;
    position: relative;
}
.testimonials::before {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10,10,10, 0.30);
}
.testimonials .section-header {
    position: relative; /* Para que pueda ponerse sobre el oerlay*/
}
.team-members-section {
    background: url(../images/team-members.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0 0 64px 0;
}
/* Nosotros */
.call-to-action {
    background: url(../images/bg-cta.png) center top;
    -webkit-background-size: cover;
    background-size: cover;
}
.call-to-action::before {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10,10,10, 0.25);
}

